<!DOCTYPE html>{% extends 'base.html' %}
{% load static %}

   
{% block content %}
    <h2>Um okkur</h2>  <img src="{% static 'images/jobhunterslogo.png' %}" alt="JobHunters Logo" class="about-logo">
    <p> Velkomin til Job hunters! Þar sem metnaður mætir tækifærum. Við skiljum að ferðin að glæstum starfsframa  er einstök fyrir alla - þess vegna höfum við búið til vettvang sem metur hvert skref í atvinnuleitarferðinni þinn, óháð því hvar þú stendur í starfsframa þínum. Stofnað af hópi metnaðarfulls starfsfólks í nýsköpun og því er markmið okkar að veita atvinnuleitendum og atvinnurekendum umhverfi á netinu sem er einfalt og styðjandi við þína hagsmuni. Vefsíðan okkar tengir hæfileikaríkt fólk við leiðandi fyrirtæki með því að nýta sér nýjustu tæknina og sérsniðna starfsleitarþjónustu.</p>
    <br>
    <p>Vettvangur okkar býður upp á ríkulegt úrval af starfsgreinum í ýmsum greinum. Ítarlegir leitarþættir og notendavænt viðmót tryggja að þú getir auðveldlega fundið stöður sem passa við hæfileika þína og starfsferilsmarkmið.</p>
    <br>
    <p>Við bjóðum upp á virkan vettvang til þess að birta þínar starfsauglýsingar. Vettvangurinn býður einnig upp á tól til að stjórna umsóknum, eiga samskipti við umsækjendur og fylgjast með ráðningarferlinu áreynslulaust.</p>
    <br>
    <p>Á Job hunters erum við skuldbundin til að viðhalda hæstu mögulegu stöðlum er varðar öryggi gagna og friðhelgi notenda. Við erum sífellt að þróast og tökum endurgjöf frá notendum fagnandi til þess að gæta bætt notendaupplifun og þjónustu.</p>
{% endblock %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>