{% extends 'base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <div class="container-home-logo">
        <a class="jobhunters-home" href="">
            <img src="{% static 'images/Rectangle 64-Photoroom.png-Photoroom.png' %}" alt="JobHunters Logo" class="home-logo">
        </a>
        <h2>Job Hunters</h2>
    </div>
    <br>
    <div class="paragraph-one-box">
        <p class="paragraph-one-text">
            Velkomin til Job Hunters, þar sem metnaður mætir tækifærum!
            Við bjóðum upp á vettvang sem metur hvert skref í atvinnuleitarferðinni þinni,
            óháð því hvar þú stendur í starfsframa þínum. Stofnað af ástríðufullu teymi um nýsköpun,
            er markmið okkar að veita atvinnuleitendum og atvinnurekendum einfalt og styðjandi umhverfi á netinu.
            Vefsíðan okkar tengir hæfileikaríkt fólk við leiðandi fyrirtæki með nýjustu tækni og sérsniðinni starfsleitarþjónustu.
        </p>
    </div>
    <div class="paragraph-two-box">
        <p class="paragraph-two-text">
            Vettvangur okkar býður upp á fjölbreytt úrval af starfsgreinum í ýmsum atvinnugreinum,
            með ítarlegum leitarþáttum og notendavænu viðmóti sem hjálpar þér að finna stöður sem henta hæfileikum þínum og starfsferilsmarkmiðum.
            Við bjóðum einnig upp á öflugan vettvang til að birta starfsauglýsingar, stjórna umsóknum,
            eiga samskipti við umsækjendur og fylgjast með ráðningarferlinu á áreynslulausan hátt.
        </p>
    </div>
    <div class="paragraph-three-box">
        <p id="paragraph-three-text">
            Hjá Job Hunters erum við skuldbundin til að viðhalda hæstu mögulegu öryggis- og friðhelgisstöðlum,
            og við erum sífellt að þróast og taka á móti endurgjöf frá notendum til að bæta þjónustu okkar og notendaupplifun.
        </p>
    </div>
    

{% endblock %}