{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/job.css' %}">
    <h2>Störf í boði</h2>
    
    <div id="jobs_container">
    
        <div id="job_filter_search">        
            <h3>Síur:</h3>
            <form>
                <div id="searchDiv">
                    <label for="search_title">Starfsheiti:</label>
                    <input type="text" id="job_search_title" name="title"> </br>
                    <label for="search_title">Fyrirtæki:</label>
                    <input type="text" id="job_search_company" name="company"> </br>
                    <label for="category">Starfstegund:</label>
                    <select name="category">
    
                    <option value="{{ NULL }}" >Allt</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}" name="category">{{ category.type }}</option>
                    {% endfor %}
                    </select> </br>
                </div>
                <div id="orderByDiv">
                    <p>Raða eftir:</p>
                    <input type="radio" id="titleRadio" name="orderby" value="title" checked="checked">
                    <label for="postDate">Starfstitli</label> </br>
                    <input type="radio" id="postDateRadio" name="orderby" value="postDate">
                    <label for="postDate">Birtingardegi</label> </br>
                    <input type="radio" id="dueDateRadio" name="orderby" value="dueDate">
                    <label for="postDate">Umsóknarfresti</label> </br>
                </div>
                <div id="alreadyAppliedDiv">
                    <input type="checkbox" id="alreadyApplied" name="applied" value="applied">
                    <label for="applied">Sótt um</label> </br>
                </div>
                <input type="submit" value="Leita"> </br>
            </form>        
        </div>
        
        <div class="jobs">
            {% for job in jobs %}
                {% include 'job/single_job.html' with job=job %}        
            {% endfor %}    
        </div>
    </div>
{% endblock %}