{% extends 'base.html' %}
{% block content %}
    
    <img id="company-cover" src="{{ job.company.coverImage }}"  alt="Company cover image"/>
	<h1>{{ job.title }}</h1>
    <p>Starfslýsing:    {{ job.description }}</p>
    <p>Starfshlutfall:  {{ job.percentage }}</p>
    <p>Staðsetning:     {{ job.location }}</p>
    <p>Starf auglýst:   {{ job.postDate }}</p>
    <p>Umsóknarfrestur: {{ job.dueDate }}</p>
    <p>Starfstegund:    {{ job.category.type }}</p>
    <img id="company-logo" src="{{ job.company.logo }}"  alt="Company logo"/>
    <p>{{ job.company }}</p>
    
    {% if user.is_authenticated %}
          <a href="{% url 'Step1' %}?job_id={{ job.id }}">
            <button>Sækja um starf</button>
          </a>
        
    {% else %}
        <p> Skráðu þig inn til að sækja um starf</p>
        <a href="{% url 'user-login' %}"> 
            <button>Innskrá</button>
        </a>
   {% endif %}
{% endblock %}

