{% extends 'base.html' %}
{% block content %}
    <img id="company-cover" src="../static/images/{{ job.company.coverImage }}"  alt="Company cover image"/>
	<h1>{{ job.title }}</h1>
    <p>Starfslýsing:    {{ job.description }}</p>
    <p>Staðsetning:     {{ job.location }}</p>
    <p>Starf auglýst:   {{ job.postDate }}</p>
    <p>Umsóknarfrestur: {{ job.dueDate }}</p>
    <p>Starfstegund:    {{ job.category.type }}</p>
    <img id="company-logo" src="../static/images/{{ job.company.logo }}"  alt="Company logo"/>
    <p>{{ job.company }}</p>
{% endblock %}


    
    jobPercentage = models.CharField(max_length=255)
    description = models.CharField(max_length=1000)
    location = models.CharField(max_length=255)
    postDate = models.DateField()
    dueDate = models.DateField()
    startDate = models.DateField()
    jobImage = models.CharField(max_length=255, blank=True, null=True)
    category = models.ForeignKey(JobCategory, on_delete=models.CASCADE)
    company = models.ForeignKey(Company, on_delete=models.CASCADE)