{% extends 'base.html' %}
{% block content %}
    <img id="company-cover" src="../static/images/{{ job.company.coverImage }}"  alt="Company cover image"/>
	<h1>{{ job.title }}</h1>
    <p>Starfslýsing:    {{ job.description }}</p>
    <p>Staðsetning:     {{ job.location }}</p>
    <p>Starf auglýst:   {{ job.postDate }}</p>
    <p>Umsóknarfrestur: {{ job.dueDate }}</p>
    <p>Starfstegund:    {{ job.category.type }}</p>
    <a href="/companies/{{ job.company.id }}">
        <img id="company-logo" src="../static/images/{{ job.company.logo }}"  alt="Company logo"/>
        <p>{{ job.company }}</p>
    </a>
{% endblock %}

