<div id="single_job" class="col-xs-12 col-sm-6 col-md-3">

    <div id="logo_title_container">
        <img id="job_company_logo" src="{{ job.company.logo }}"  alt="Company logo"/>
        <h3>{{ job.company.title }}</h3>
    </div>

    <h4>{{ job.title }}</h4>
    <p>Birtingardagur : {{ job.postDate }}</p>
    <p>Umsóknarfrestur: {{ job.dueDate }}</p>

    <div id="button_status_container">
        <div id="check_job_button">
        <a href="{{ job.id }}">
        <button>Skoða nánar</button>
        </a>
        </div>

        <div id="status_container">
        {% if status == "Pending" %}
            <h5 id="pending_heading">Umsókn í vinnslu</h5>
        {% elif status == "Hired" %}
            <h5 id="hired_heading">Umsókn samþykkt!</h5>
        {% elif status == "Rejected" %}
            <h5 id="rejected_heading">Umsókn hafnað</h5>
        {% endif %}
        </div>
        
    </div>
</div>



