

<div id="single_job" class="col-6 col-md-6 col-lg-4">

    <div id="logo_title_container">
        <img id="job_company_logo" src="{{ job.company.logo }}"  alt="Company logo"/>
        <h3>{{ job.company.title }}</h3>
    </div>
    <div id="job_information">
        <h4>{{ job.title }}</h4>
        <p>Starfshlutfall: {{ job.jobPercentage }}</p>
        <p>Birtingardagur{{ job.postDate }}</p>
        <p>Umsóknarfrestur: {{ job.dueDate }}</p>
    </div>

    <div id="button_status_container">
        <div id="check_job_button">
            <a href="{{ job.id }}">
            <button class="btn btn-primary btn-sm">Skoða nánar</button>
            </a>
        </div>
        <div id="status_container">
            {% if status == "Pending" %}
                <p id="pending_heading">Umsókn: Í vinnslu</p>
            {% elif status == "Hired" %}
                <p id="hired_heading">Umsókn: Samþykkt!</p>
            {% elif status == "Rejected" %}
                <p id="rejected_heading">Umsókn: Hafnað</p>       
            {% endif %}
        </div>        
    </div>
</div>


