#single_applicant {
    margin: 5rem;
    padding: 1rem;
    border-color: #5dad24;
    border-style: solid;
}
#single_flex{
    display: flex;
}

#single_name_street{
}
#single_applicant_photo {
}

#aboutme{
    margin-left: 3rem;
    align-self: flex-start;
    font-size: 1rem;

}
#applicant-image {
    height: 10rem;
    width: 10rem;
}

/* application ferlið */

.application_form_heading{
    margin-top: 2rem;
}

.application_list_form_container{
    display:flex;
    margin: 2rem;
}

.applicant_list{
    margin-right: 3rem;
}

.application_list_container{
    border-style: solid;
    border-color: #5dad24;
    margin-bottom: 1rem;
    padding: 1rem;
}


