/*Profile*/
#applicant_photo_aboutMe_container{
    margin-top: 1rem;
    display: flex;
}
#applicant_photo{
    max-height: 10rem;
    max-width: 10rem;
    margin-right: 1rem;
}
#profile_aboutMe{
    font-weight:bold;
}

#info_container{
    display:flex;
}
#applicant_information{
    display:flex;
}
#necessary_info{
    margin: 1rem;
    border-color: #5dad24;
    border-style: solid;
    padding: 1rem;
}
#obligatory_info{
    margin: 1rem;
    padding: 1rem;
    border-color: #5dad24;
    border-style: solid;
}
#necessary_legend_container{
    font-weight: bold;
    text-align:right;
    margin-right: 1rem;
}
#obligatory_legend_container{
    text-align:left;
    font-weight: bold;
}

/*  */


#single_applicant {
    margin: 5rem;
    padding: 1rem;
    border-color: #5dad24;
    border-style: solid;
}
#single_flex{
    display: flex;
}

#single_name_street{
}
#single_applicant_photo {
}

#aboutme{
    margin-left: 3rem;
    align-self: flex-start;
    font-size: 1rem;

}

#applicant_photo {
    border-radius: 50%;
}

/* application ferlið */

.application_form_heading{
    margin-top: 2rem;
}

.application_list_form_container{
    display:flex;
    margin: 2rem;
}

.applicant_list{
    margin-right: 3rem;
}

.application_legend_info_container{
    margin-top: 1rem;
    display:flex;
    text-wrap: nowrap;
}
.application_list_container{
    border-style: solid;
    border-color: #5dad24;
    margin-bottom: 1rem;
    padding: 1rem;
    margin-right: 2rem;
}
.application_legend{
    font-weight: bold;
    text-align:right;
    margin-right: 1rem;
}

.application_legend_info_container_many{
    display:flex;
    border-style: solid;
    border-color: #5dad24;
    padding: 1rem;
    text-wrap: nowrap;
}

#overview_form_container{
    display:flex;
    align-items: center;
}

#overview_accept{
    margin-right: 2rem;
}

/* applications listi */
#single_application{
    border-style: solid;
    border-color: #5dad24;
    padding: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;

}
#logo_title_container{
    display:flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    align-content: center;
    justify-content: center;
    width: 100%
}
#application_company_logo{
    height: 3rem;
    width: 3rem;
}
#company_title{
    font-size: 2rem;
}

#rejected_heading{
    color: red;
}
#hired_heading{
    color: green;
}


/* profile image */

