#company-logo{
    width: 25%;
    height: 60%;
}
#job-company-logo{
    width: 200px;
    height: 200px;
}
#profile_title_button{
    display:flex;
}
#change_profile_button{
    margin-left: 2rem;
}
#change_profile_button_button{
    width: 8rem;
    text-align: left;
    background-color: #cdf8af;
    border: solid thin black;
    border-radius: 5px;
}
/* Company detail síða   */
#company_detailed{
    display:flex;
}
#company_title_add_desc{
    margin-left: 3rem;
}
#company_logo_cover{
    display:flex;
    margin:1rem;
}
#company_detailed_cover{
    height: 20rem;
    width: 40rem;
}
#company_detailed_logo{
    position: absolute;
    max-height: 7rem;
    max-width: 7rem;
}
#company_address{
    bottom: 0;
}
#single_company{
    border-top: solid #5dad24;
    padding-top: 2rem;
    height:10rem;
    width: 70rem;
    display:flex;
    margin-top:3rem;
    margin-bottom: 2rem;
}
#company-info{
    height:10%;
}
#single_company_cover{
    width: 100%;
    height: 100%;
}
#single_company_logo_div{
    text-align: right;
    margin-right: 1rem;
}
#single_company_logo{
    float:left;
    clear:both;
    max-height: 10rem;
    max-width: 10rem;
}

#single_company_descr{
    max-height:8rem !important;
    float:left !important;
    white-space: wrap;
    overflow-y: hidden;
    overflow-x: auto;
}

#company_single_job{
    border-style: solid;
    border-color: #5dad24;
    display:flex;
    width: 50%;
    margin: 1rem;
}
#job_title{
    display:inline-block;
}

#single_application{
    border-style: solid;
    border-color: #5dad24;
    margin: 1rem;
    padding: 1rem;
    width: 50%
}

#company_form_container{
    margin-top: 2rem;
}


/* Applicant details */
#application_status_container{
    border-style: solid;
    border-color: #5dad24;
    padding: 1rem;
}
#applicant_photo_aboutMe_container{
    margin-top: 1rem;
    display: flex;
}
#applicant_photo{
    max-height: 10rem;
    max-width: 10rem;
}
#photo_email_container{
    margin-right: 1rem;
    max-width: 10rem;
    word-wrap: break-word;
    font-size: 1rem;
    text-align: center;
}
#applicant_information{
    display:flex;
}
#address_legend_container{
    font-weight: bold;
    text-align:right;
    margin-right: 1rem;
}
#recommendation_container{
    border-style: solid;
    border-color: #5dad24;
    display:flex;
    margin: 1rem;
    padding: 1rem;
    max-width: 40rem;
}
#recommendation_legend{
    font-weight: bold;
    text-align:right;
    margin-right: 1rem;
}

#experience_container{
    border-style: solid;
    border-color: #5dad24;
    display:flex;
    margin: 1rem;
    padding: 1rem;
    max-width: 40rem;
}
#experience_legend{
    font-weight: bold;
    text-align:right;
    margin-right: 1rem;

}
#change-profile-button {

}