/* General Styling */
#content-wrap {
    padding-bottom: 8rem;
}
#company-logo {
    position: fixed;
    width: 25%;
    height: 60%;
}
#job-company-logo {
    width: 200px;
    height: 200px;
}

#profile_title_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
#change-profile-box {
    display: flex;
    align-items: center;
}
#change-profile-button {
    width: 8rem;
    background-color: #cdf8af;
    border: solid thin black;
    border-radius: 5px;
    margin-right: 0.5rem;
}
#change-profile-photo {
    height: 25px;
    width: 25px;
}

/* Company Details */
#company_detailed {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 2rem;
}
#company_title_add_desc {
    flex: 1;
    margin-right: 2rem;
    word-break: break-all;
}
#company_logo_cover {
    display:flex;
    margin:2rem;
    justify-content: left;
}
#company_detailed_cover {
    height: 20rem;
    width: 40rem;
}
#company_detailed_logo {
    position: absolute;
    max-height: 7rem;
    max-width: 7rem;
}

/* New Job Button */
#company_new_job_button {
    border-radius: 5px;
    margin-bottom: 2rem;
}

/* Single Job Listing */
#company_single_job {
    border: solid #5dad24;
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
#company_jobs {
    padding-bottom: 10rem;
}
#job_title_container {
    border-top: solid #5dad24;
    padding-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
#job_info_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
#job_description {
    margin-bottom: 1rem;
}
#date_container {
    margin-bottom: 1rem;
}
#show_applicants {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
#show_applications {
    border-radius: 5px;
}
#no_applications {
    border: solid thin #1b1b1b;
    padding: 0.3rem;
    border-radius: 5px;
}
#delete_job_button {
    margin-top: 1rem;
}

/* Applicant Details */
#application_status_container {
    border: solid #5dad24;
    padding: 1rem;
    margin-bottom: 2rem;
}
#applicant_photo_aboutMe_container {
    margin-top: 1rem;
    display: flex;
}
#applicant_photo {
    max-height: 10rem;
    max-width: 10rem;
}
#photo_email_container {
    margin-right: 1rem;
    max-width: 10rem;
    word-wrap: break-word;
    font-size: 1rem;
    text-align: center;
}
#applicant_information {
    display: flex;
}
#address_legend_container {
    font-weight: bold;
    text-align: right;
    margin-right: 1rem;
}
#recommendation_container {
    border: solid #5dad24;
    display: flex;
    margin: 1rem;
    padding: 1rem;
    max-width: 40rem;
}
#recommendation_legend {
    font-weight: bold;
    text-align: right;
    margin-right: 1rem;
}
#experience_container {
    border: solid #5dad24;
    display: flex;
    margin: 1rem;
    padding: 1rem;
    max-width: 40rem;
}
#experience_legend {
    font-weight: bold;
    text-align: right;
    margin-right: 1rem;
}
