.form-horizontal .form-group {
    margin-bottom: 15px;
}

.help-block {
    color: red; /* Red color for errors */
}

.has-error .form-control {
    border-color: red; /* Red border for inputs with errors */
}