body {
    background-color: #cdf8af;
}

.container-home-logo {
    position: relative;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 10px;
}

.container-home-logo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60%;
    border-bottom: 1px solid black;
    transform: translateX(-50%);
}

.jobhunters-home {
    display: flex;
    align-items: center;
}

.home-logo {
    width: auto;
    height: 100px;
}

h2 {
    margin: 0;
}


#um-okkur {
    display: flex;
    justify-content: space-around;
    margin-right: 45%;
}

.paragraph-one-box .paragraph-one-text {
    text-align: left;
}


.paragraph-one-box {
    margin-top: 3%;
    margin-right: 5%;
    padding-left: 15%;
    padding-bottom: 3%;
}


.paragraph-two-box {
    margin-left: 20%;
    padding-left: 15%;
    padding-bottom: 3%;
    transform: translate(-8%, -105%);
}


.paragraph-three-box {
    margin-right: 20%;
    padding-left: 15%;
    padding-bottom: 3%;
    transform: translate(-16%, -270%);
}


.container-decorative-image1 {
    display: flex;
    justify-content: center;
    width: 220px;
    height: 220px ;
    margin-left: 10%;
    transform: translate(-20%, 0%);
}


.container-decorative-image2 {
    display: flex;
    justify-content: left;
    width: 220px;
    height: 220px ;
    margin-left: 10%;
    transform: translate(50rem, -20rem);
}

