/* jobs index.html */
#jobs_container{
    display:flex;
    margin-bottom:2rem;
}
#job_filter_search{
    margin-right: 3rem;
}
#orderByDiv{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#alreadyAppliedDiv{
    text-wrap: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
#searchDiv{
    padding: 1rem;
}
#job_list_title{
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

/* single_job.html */
#single_job{
    border-style: solid;
    border-color: #5dad24;
    overflow: hidden;
    margin: 1rem;
    border-radius: 25px;
    width: 300px;
    height: 300px;

}
#logo_title_container{
    display:flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-content: center;
}
#job_company_logo{
    height: 2rem;
    width: 2rem;
}
#button_status_container{
    display:flex;
}
#check_job_button{
    width:50%;
}
#status_container{
    justify-content: center;
    text-align: center;
    width:50%;
    height: 50px;
}
#rejected_heading{
    color: red;
}
#hired_heading{
    color: green;
}
/* job_details.html */
#job_detailed_upper{
    display:flex;
}
#job_logo_cover_container{
    display:flex;
}
#company_cover{
    height: 20rem;
    width: 40rem;
}
#company_logo{
    position: absolute;
    max-height: 7rem;
    max-width: 7rem;
}
#extra_info_container{
    display:flex;
    margin-left: 1rem;
}
#upper_legend{
    font-weight: bold;
    margin-right: 1rem;
}

#application_status_container{
    border-style: solid;
    border-color: #5dad24;
    padding: 1rem;
    width:50%;
}
#status_hired{
    color:green;
}
#status_rejected{
    color:red;
}