/* jobs index.html */
#jobs_container{
    display:flex;
    margin-bottom:2rem;
}
#job_filter_search{
    margin-right: 3rem;
}
#orderByDiv{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#alreadyAppliedDiv{
    text-wrap: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
#searchDiv{
    padding: 1rem;
}
#job_list_title{
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 2rem;
    border-bottom-style:solid;
    border-color: #5dad24;
}
/*  company_single_job specific  */
#delete_job_button{
    margin-left: 10rem;
}
/* single_job.html */

#job_grid{
    justify-content: center;
    align-content: center;
}
#single_job{
    border-style: solid;
    border-color: #5dad24;
    overflow: hidden;
    margin: 1rem;
    border-radius: 25px;
    width: 450px;
    height: 300px;

}
#logo_title_container{
    display:flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-content: center;
}
#job_company_logo{
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}
#change-profile-box {
    margin-left: 28rem;
    display: flex;
    flex-wrap: nowrap;
}

#change-profile-button {
    width: 8rem;
    text-align: left;
    background-color: #cdf8af;
    border: solid thin black;
    border-radius: 5px;
}

#change-profile-photo {
    height: 25px;
    width: 25px;
    transform: translate(-1.8rem, 0.1rem);
}
button{
    border-radius: 5px;
}
#button_status_container{
    display:flex;
}
#check_job_button{
    width:50%;
}
#status_container{
    justify-content: center;
    text-align: center;
    width:50%;
    height: 50px;
}
#rejected_heading{
    color: red;
}
#hired_heading{
    color: green;
}
/* job_details.html */
#job_detailed_upper{
    display:flex;
}
#job_logo_cover_container{
    display:flex;
}
#company_cover{
    height: 20rem;
    width: 40rem;
}
#company_logo{
    position: absolute;
    max-height: 7rem;
    max-width: 7rem;
}
#extra_info_container{
    display:flex;
    margin-left: 1rem;
}
#upper_legend{
    font-weight: bold;
    margin-right: 1rem;
}

#application_status_container{
    border-style: solid;
    border-color: #5dad24;
    padding: 1rem;
    width:50%;
}
#status_hired{
    color:green;
}
#status_rejected{
    color:red;
}

#job_title_container{
    border-top: solid #5dad24;
    padding-top: 2rem;
    height:10rem;
    width: 70rem;
    display:flex;
    margin-top:3rem;
    margin-bottom: 2rem;
}
#job_info_container{
    vertical-align: auto;
    horiz-align: center;
    float:right;
    margin-left: 5rem;
}
#company_single_job {
    display: flex;
    width: 50%;
    margin: 1rem;
}
#show_applicants{
    display: flex;
}
#no_applications{
    border: solid thin #1b1b1b;
    padding: 0.3rem;
    border-radius: 5px;
}