{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/company.css"%}">
    <div id="application_status_container">
        {% if application.status == "Pending" %}
            <h2>Staða umsóknar: Í vinnslu</h2>
        {% elif application.status == "Hired" %}
            <h2>Staða umsóknar: Samþykkt</h2>
        {% elif application.status == "Rejected" %}
            <h2>Staða umsóknar: Hafnað</h2>
        {% endif %}
        <h4>Breyta stöðu:</h4>
        <form class="form form-horizontal" method="POST">
            {% csrf_token %}
            <input type="submit" value="Hafna" name="Rejected"  class="btn btn-danger pull-right" style="clear:both; margin:10px 0" >
            <input type="submit" value="Í vinnslu" name="Pending" class="btn btn-primary pull-right" style="clear:both; margin:10px 0">
            <input type="submit" value="Samþykkt" name="Hired" class="btn btn-success pull-right" style="clear:both; margin:10px 0">
        </form>
    </div>


    <h3><b>Umsækjandi:</b> {{ applicant.name }}</h3>

    <div id="applicant_photo_aboutMe_container">
        <div id="photo_email_container">
            <img id="applicant_photo" src="{{ applicant.photo }}">
            
        </div>
       <p>{{ applicant.aboutMe }}</p>
    </div>
    <div id="applicant_information">
        <div id="address_legend_container">
            <p>Heimilisfang:</p>
            <p>Borg:</p>
            <p>Land:</p>
            <p>Netfang:</p>
        </div>
         <div>
            <p>{{ applicant.street }} {{ applicant.houseNr }}</p>
            <p>{{ applicant.postalCode }} {{ applicant.city }}</p>
            <p>{{ applicant.country }}</p>
             <p>{{ applicant.email }}</p>
         </div>
    </div>

    <h4><b>Umsóknarbréf</b></h4>
    <p>{{ application.coverLetter }}</p>

    <h4><b>Meðmælendur</b></h4>
    {% for recommendation in recommendations %}
        <div id="recommendation_container">
            <div id="recommendation_legend">
                <p>Nafn:</p>
                <p>Netfang:</p>
                <p>Sími:</p>
                <p>Hlutverk:</p>
                <p>Má hafa samband:</p>
            </div>

            <div id="recommendation_information">
                <p>{{ recommendation.name }}</p>
                {% if recommendation.email %}
                    <p>{{ recommendation.email }}</p>
                {% else %}
                    <p>&nbsp</p>
                {% endif %}
                {% if recommendation.phone %}
                    <p>{{ recommendation.phone }}</p>
                {% else %}
                    <p>&nbsp</p>
                {% endif %}
                <p>{{ recommendation.role }}</p>
                {% if recommendation.allowedToContact %}
                    <p>Já</p>
                {% else %}
                    <p>Nei</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <h4><b>Starfsreynsla</b></h4>
    {% for experience in experiences %}
        <div id="experience_container">
            <div id="experience_legend">
                <p>Fyrirtæki:</p>
                <p>Hlutverk:</p>
                <p>Byrjaði:</p>
                <p>Lauk störfum:</p>
                
                
            </div>
            <div id="experience_information">
                <p>{{ experience.company }}</p>
                <p>{{ experience.role }}</p>
                <p>{{ experience.start }}</p>
                {% if experience.end %}
                    <p>{{ experience.end }}</p>
                {% else %}
                    <p>Vinnur enn</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}






































