{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/company.css"%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <div>
    <p id="info">Fylla þarf út alla dálka svo fyrirtæki birtist á fyrirtækjalista</p>
        <div id="tabs">
            <a class="tab grunnupplysingar active">Grunnupplýsingar</a>
        </div>
    </div>
    
    <div id="company_form_container">
        <form class="form form-horizontal" action="{% url 'ChangeCompanyProfile' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <a href="{% url 'user-profile' %}">
                <input type="submit" value="Vista" class="btn btn-primary pull-right" style="clear:both; margin:10px 0">
            </a>
        </form>
    
    </div>

{% endblock %}