{% load static %}
<div class="company_jobs">
<link rel="stylesheet" href="{% static 'css/job.css' %}">
    <div id="job_title_container">
        <h4 id="job_title">{{ job.title }}</h4>
        <div id = "job_info_container">
            <div id="job_description">
                <p>{{ job.description }}</p>
            </div>
            <div id =date_container>
                <p>Birtingardagur : {{ job.postDate }}</p>
                <p>Umsóknarfrestur: {{ job.dueDate }}</p>
            </div>   
            <div id="show_applicants">
                {% if applications > 0 %}
                    <a href="/companies/applications/{{ job.id }}">
                    <button>Skoða {{ applications }} umsækjendur</button>
                    </a>    
                {% else %}
                    <p id = "no_applications">Engir umsækjendur</p>
                {% endif %}
                <div id="delete_job_button">
                <form class="form form-horizontal" action="/companies/applications/{{ job.id }}" method="POST">
                    {%  csrf_token %}
                    <button type="submit" name="job_delete" value="cancel" class="btn btn-danger">Eyða starfi</button>
                 </form>
                </div>
        </div>
         
    </div>
    
</div>
