{% load static %}
<div class="company_jobs">
<link rel="stylesheet" href="{% static 'css/job.css' %}">
    <div id="job_title_container">
        <h3 id="job_title">{{ job.title }}</h3>
        <div id="show_applicants"></div>
        {% if applications > 0 %}
            <a href="/companies/applications/{{ job.id }}">
            <button>Skoða {{ applications }} umsækjendur</button>
            </a>
        {% else %}
            <p>Engir umsækjendur</p>
        {% endif %}
        
        
        <p>Birtingardagur : {{ job.postDate }}</p>
        <p>Umsóknarfrestur: {{ job.dueDate }}</p>
    </div>
    <div id="job_description">
        <p>{{ job.description }}</p>
    </div>
</div>
