{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/company.css"%}">
    <h1 id="listifyrirtæki">Hér eru þau fyrirtæki sem eru skráð hjá okkur</h1>
    <br>
    <div class="companies">
        {% for company in companies %}
            {% if company.title and company.logo and company.description %}
                {% include 'company/single_company.html' with company=company %}
            {% endif %}

        {% endfor %}


    </div>
{% endblock %}