{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/company.css"%}">

<a href="{% url 'post-job' %}">
        <button id="company_new_job_button">Auglýsa nýtt starf</button>
    </a>
<h3>Starfsauglýsingar ykkar:</h3>

    
    <div class="company_single_jobs">
            {% for key, value in job_dict.items %}
                {% include 'company/company_single_job.html' with job=key applications=value company=company%}
            {% endfor %}
    </div>
    
{% endblock %}