{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/company.css"%}">
    <div id="single_company">
    <div id="single_company_logo_div">
       <a href="/companies/{{ company.id }}">
            <img id="single_company_logo" src="{{ company.logo }}" alt="{{ company.title }} logo" />
        </a>
    </div>
    <div>
        <div id="company_info">
        <h3>{{ company.title }}</h3>
        <div id="single_company_descr">{{ company.description }}</div>        
    </div>
    </div>
</div>
<a href="/companies/{{ company.id }}"><p>Hlekkur á síðu fyrirtækis</p></a>