    <div id="single_application">

        <div>
            <p>{{ application.applicant.name }}</p>
            <p>{{application.coverLetter}}</p>
        </div>

        <div id="single_application_button_status_container">
        <a href="/companies/applications/{{ application.job_id }}/applicant/{{ application.id }}">
            <button>Skoða nánar</button>
        </a>
            
            {% if application.status == "Pending" %}
                <p id="">Umsókn: Í vinnslu</p>
            {% elif application.status == "Hired" %}
                <p id="status_green">Umsókn: Samþykkt</p>
                {% elif application.status == "Rejected" %}
                <p id="status_red">Umsókn: Hafnað</p>
            {% endif %}
            <p></p>
        </div>
    </div>