{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
        <img src="{% static 'images/jobhunterslogo.png' %}" alt="JobHunters Logo" class="navbar-logo">
        JobHunters
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'home-index' %}">Heim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/jobs/">Skoða störf</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/companies/">Fyrirtæki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about_us/">Um okkur</a>
        </li>
      
        {% if user.is_authenticated %}
            <li class="nav-item">
                <form action="{% url 'user-logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link nav-link" style="text-decoration: none;">Útskrá</button>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user-profile' %}">Prófíll</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'company-signup' %}">Nýskrá Fyrirtæki</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'user-signup' %}">Nýskrá</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'user-login' %}">Innskrá</a>
             </li>
        {% endif %}
      </ul>

       {% if user.is_authenticated %}
            {% if user.companyprofile %}
                {# company logo #}
                <img id="profile-image-navbar" src="{{ user.companyprofile.company.logo }}" class="profile-image"  alt="Company image" style="width: 50px; height: 50px; border-radius: 50%;">
            {% elif user.applicantprofile %}              
                <img id="profile-image-navbar" src="{{ user.applicantprofile.applicant.photo }}" class="profile-image" alt="Applicant image" style="width: 50px; height: 50px; border-radius: 50%;">
            {% else %}
              {% endif %}  
        {% endif %}
    </div>
  </div>
</nav>
