{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/applicant.css"%}">

    <div id="application_title_container">
        <h2>Starfsumsóknir : {{ request.user.applicantprofile.applicant.name }}</h2>
    </div>
    <div id="application_container">


        <div class="container">
        {% for application in application_list %}
            {% if forloop.counter0|divisibleby:3 %} <div class="row text-center">{% endif %}
            <div class="col-md-4">
                {% include 'applicant/single_application.html' with application=application %}
            </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}</div>{% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}