{% extends 'base.html' %}
{% block content %}
    <div id="tabs">
            <a class="tab grunnupplysingar">Grunnupplýsingar</a>
            <a class="tab kynningarbreif active">Kynningarbréf</a>
            <a class="tab reynsla">Reynsla</a>
            <a class="tab medmaelendur">Meðmælendur</a>
            <a class="tab yfirfara">Yfirfara</a>
    </div>
    <div>
        <form class="form form-horizontal" action="{% url 'Step2' %}" method="post">
            {% csrf_token %}
            {{ form }}
        </form>
    </div>
    <button onclick="history.back()">Back</button>
    <a href="{% url 'Step3' %}">
        <button>Next</button>
    </a>
{% endblock %}