{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/multistepforms.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "/css/applicant.css"%}">
    
    <div id="tabs">
        <a class="tab grunnupplysingar">Grunnupplýsingar</a>
        <a class="tab kynningarbreif">Kynningarbréf</a>
        <a class="tab menntun active">Menntun</a>
        <a class="tab reynsla">Reynsla</a>
        <a class="tab medmaelendur">Meðmælendur</a>
        <a class="tab yfirfara">Yfirfara</a>
    </div>

    <h3 class="application_form_heading">Námsferill</h3>
    <div class="application_list_form_container">

       <div>

            <form class="form form-horizontal" action="/applicants/applications3/{{ jobid }}" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit" id="add-experience" class="btn btn-info">Bæta við námi</button>
            </form>
           <script>
                $(document).ready(function () {
                    $('.datepicker').datepicker({
                        format: 'yyyy-mm-dd',
                        autoclose: true,
                        clearBtn: true
                    });
                });
            </script>

            <form class="form form-horizontal" action="/applicants/applications4/{{ jobid }}" >
                <input type="button" value="Aftur"  class="btn btn-primary pull-right" style="clear:both; margin:10px 0" onclick="location.href='{% url 'Step2' jobid %}'">
                <input type="submit" value="Áfram" class="btn btn-primary pull-right" style="clear:both; margin:10px 0">
            </form>
            
       </div>
        
            <div class="applicant_list">
                <h5>Nú þegar skráð:</h5>
                {% for education in education_list  %}
                        <div class="application_list_container" >
                            <p>Skóli: {{ education.school }}</p>
                            <p>Gráða: {{ education.degree }}</p>
                            <p>Svið: {{ education.fieldOfStudy }}</p>
                            <p>Byrjaði: {{ education.start }}</p>
                            <p>Lauk: {{ education.end }}</p>
                        </div>
                {% endfor %}
            </div>
    </div>

{% endblock %}