{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/applicant.css"%}">
     <p id="info">Við viljum benda á að fyrirtæki sem skoða umsóknir ykkar hafa aðgang að öllum þeim upplýsingum sem hér eru að finna.</p>

    <div id="applicant_photo_aboutMe_container">
        <div id="photo_email_container">
            <img id="applicant_photo" src="{{ applicant.photo }}" alt="Prófíl mynd af notanda">
        </div>
        <div>
            <h4>{{ applicant.name }}</h4>
            <h6 id="profile_aboutMe">Um mig:</h6>
            <p>{{ applicant.aboutMe }}</p>
        </div>
    </div>
    
    <div id="info_container">
        <div id="necessary_info">
            <h6>Tengiliðaupplýsingar</h6>
            <div id="applicant_information">
                <div id="necessary_legend_container">
                    <p>Netfang:</p>
                    <p>Heimilisfang:</p>
                    <p>Borg:</p>
                    <p>Land:</p>
                    <p>Sími:</p>
                </div>
                 <div>
                     <p>{{ applicant.email }}</p>
                    <p>{{ applicant.street }} {{ applicant.houseNr }}</p>
                    <p>{{ applicant.postalCode }} {{ applicant.city }}</p>
                    <p>{{ applicant.country }}</p>
                     <p>{{ applicant.phone }}</p>
                 </div>
                <div id="change-profile-box">
                    <a href="{% url 'changeProfile1' %}">
                        <button id="change-profile-button">Breyta prófíl</button>
                    </a>
                    <img id="change-profile-photo" src="{% static 'images/penni.jpg' %}" alt="edit-profile-image">
                </div>

            </div>
        </div>
    </div>
    
   
    <h5>Menntun</h5>
    <div class="application_legend_info_container">
        {% for education in education_list %}
           {% include 'applicant/single_education.html' with education=education %}
        {% endfor %}
    </div>    
    
    <!--<div class="application_list_container"> -->
        <h5>Reynsla</h5>
        <div class="application_legend_info_container">
            {% for experience in experience_list %}
               {% include 'applicant/single_experience.html' with experience=experience %}
            {% endfor %}
        </div>
    <!--/div> -->
 

{% endblock %}