{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div>
    <link rel="stylesheet" href="{% static 'css/multistepforms.css' %}">
    <div id="tabs">
            <a class="tab grunnupplysingar">Grunnupplýsingar</a>
            <a class="tab kynningarbreif active">Kynningarbréf</a>
            <a class="tab menntun">Menntun</a>
            <a class="tab reynsla">Reynsla</a>
            <a class="tab medmaelendur">Meðmælendur</a>
            <a class="tab yfirfara">Yfirfara</a>
        </div>
    </div>
    <div>
        <form class="form form-horizontal" action="/applicants/applications2/{{ jobid }}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="button" value="Aftur"  class="btn btn-primary pull-right" style="clear:both; margin:10px 0" onclick="history.back()">
            <input type="submit" value="Áfram" class="btn btn-primary pull-right" style="clear:both; margin:10px 0">
        </form>
    </div>
{% endblock %}