{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/multistepforms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static "/css/applicant.css"%}">
    <div id="tabs">
        <a class="tab grunnupplysingar">Grunnupplýsingar</a>
        <a class="tab kynningarbreif">Kynningarbréf</a>
        <a class="tab menntun">Menntun</a>
        <a class="tab reynsla">Reynsla</a>
        <a class="tab medmaelendur active">Meðmælendur</a>
        <a class="tab yfirfara">Yfirfara</a>
    </div>
    <h3 class="application_form_heading">Meðmæli</h3>
    <div class="application_list_form_container">
        <div class="applicant_list">
            <h5>Nú þegar skráð:</h5>
            {% for recommendation in recommendation_list  %}
                    <div class="application_list_container" >
                        <p>Nafn: {{ recommendation.name }}</p>
                        <p>Netfang: {{ recommendation.email }}</p>
                        <p>Sími: {{ recommendation.phone }}</p>
                        <p>Hlutverk: {{ recommendation.role }}</p>
                        <p>Má hafa samband:{% if recommendation.allowedToContact %}Já{% else %}Nei{% endif %}</p>
                    </div>
            {% endfor %}
        </div>

        <div>
            <form class="form form-horizontal" action="/applicants/applications5/{{ jobid }}" method="POST">
                {% csrf_token %}
                <div id="experience-fields-wrapper">
                {{ form.as_p }}
               </div>
                <button type="submit" id="add-experience" class="btn btn-info">Bæta við meðmælum</button>
            </form>

            <form class="form form-horizontal" action="/applicants/applications6/{{ jobid }}">
                <input type="button" value="Aftur"  class="btn btn-primary pull-right" style="clear:both; margin:10px 0" onclick="history.back()">
                <input type="submit" value="Áfram" class="btn btn-primary pull-right" style="clear:both; margin:10px 0">
            </form>
        </div>
    </div>
{% endblock %}