{% extends 'base.html' %}
{% block content %}
{% load static %}  
    <link rel="stylesheet" href="{% static 'css/multistepforms.css' %}">
    <div>
        <div id="tabs">
            <a class="tab grunnupplysingar active">Grunnupplýsingar</a>
            <a class="tab menntun">Menntun</a>
            <a class="tab starfsferill">Starfsferill</a>
        </div>
    </div>
    
   <div>
        <form class="form form-horizontal" action="{% url 'changeProfile1' %}" method="POST">
            {% csrf_token %}               
            {{ form }}              
            <button type="submit" id="add-experience" class="btn btn-info">Vista</button>
        </form>

        <form class="form form-horizontal" action="/applicants/changeProfiles2">
            <input type="button" value="Aftur"  class="btn btn-primary pull-right" style="clear:both; margin:10px 0" onclick="history.back()">
            <input type="submit" value="Áfram" class="btn btn-primary pull-right" style="clear:both; margin:10px 0">
        </form>
    </div>

{% endblock %}