{% extends 'base.html' %}
{% block content %}
    <div>
        <div id="tabs">
            <a class="tab grunnupplysingar active">Grunnupplýsingar</a>
            <a class="tab menntun">Menntun</a>
            <a class="tab starfsferill">Starfsferill</a>
        </div>
    </div>
    
    <form class="form form-horizontal" action="{% url 'changeProfile1' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <a href="{% url 'changeProfile2' %}">
            <input type="submit" value="Áfram" class="btn btn-primary pull-right" style="clear:both; margin:10px 0">
        </a>
    </form>


{% endblock %}