{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <div>
        <div id="tabs">
            <a class="tab grunnupplysingar">Grunnupplýsingar</a>
            <a class="tab menntun active">Menntun</a>
            <a class="tab starfsferill">Starfsferill</a>
        </div>
    </div>
    
    <div>
        <form class="form form-horizontal" action="{% url 'changeProfile2' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="button" value="Tilbaka"  class="btn btn-primary pull-right" style="clear:both; margin:10px 0" onclick="history.back()">
            <input type="submit" value="Áfram" class="btn btn-primary pull-right" style="clear:both; margin:10px 0">
        </form>
    
        <script>
            $(document).ready(function () {
                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd',  // Adjust the format to match your database requirements
                    autoclose: true,
                    clearBtn: true
                });
            });
        </script>
    </div>
    

{% endblock %}