{% extends 'base.html' %}
{% block content %}
{% load static %}  
    <link rel="stylesheet" href="{% static 'css/multistepforms.css' %}">
    <div>
        <div id="tabs">
            <a class="tab grunnupplysingar active">Grunnupplýsingar</a>
            <a class="tab menntun">Menntun</a>
            <a class="tab starfsferill">Starfsferill</a>
        </div>
    </div>
    
   <div>
        <form class="form form-horizontal" action="{% url 'changeProfile1' %}" method="POST">
            {% csrf_token %}               
            {{ form }}              
            <button type="submit" name="submit" class="btn btn-info">Vista</button>
        </form>
        <div id="back_continue_container">
            <form class="form form-horizontal" action="{% url 'changeProfile1' %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="back" class="btn btn-primary">Aftur</button>
                <button type="submit" name="continue" class="btn btn-primary">Áfram</button>
            </form>
        </div>
    </div>

{% endblock %}