<div id="single_applicant">
    
    <div id="single_flex">
        <div id="single_applicant_photo">
            <a href="/applicants/{{ applicant.id }}">
                <img id="applicant-image" src="{{ applicant.photo }}"  alt="Applicant image"/>
            </a>                
        </div>
        <div id="aboutme">
            {% if applicant.aboutMe %}        
            <h2>{{ applicant.aboutMe }}</h2>
            {% endif %}
        </div>
    </div>
    
    <div id="single_name_street">
    <h2>{{ applicant.name }}</h2>        
    {% if applicant.street %}
    <h3>{{ applicant.street }} {% if applicant.houseNr %}{{ applicant.houseNr }} {% endif %}</h3>
    {% endif %}
    </div>
   
</div>
