<div class="application_legend_info_container_many">
    <div class="application_legend">
        <p>Nafn:</p>
        <p>Hlutverk:</p>
        <p>Má hafa samband:</p>
        {% if recommendation.email %}
            <p>Netfang:</p>
        {% endif %}
        {% if recommendation.phone %}
            <p>Sími:</p>
        {% endif %}
    </div>
    <div class="application_information">
        <p>{{ recommendation.name }}</p>
        <p>{{ recommendation.role }}</p>
        {% if recommendation.allowedToContact %}
            <p>Já</p>
        {% else %}
            <p>Nei</p>
        {% endif %}
        {% if recommendation.email %}
            <p>{{ recommendation.email }}</p>
        {% endif %}
        {% if recommendation.phone %}
            <p>{{ recommendation.phone}}</p>
        {% endif %}
    </div>
</div>