 <div class="application_legend_info_container_many">
    <div class="application_legend">
        <p>Skóli:</p>
        <p>Gráða:</p>
        <p>Svið:</p>
        <p>Byrjaði:</p>
        <p>Lauk:</p>
    </div>
    <div class="application_information">
        <p>{{ education.school }}</p>
        <p>{{ education.degree }}</p>
        <p>{{ education.fieldOfStudy }}</p>
        <p>{{ education.start }}</p>
        <p>{{ education.end }}</p>
    </div>
 </div>
 <button onclick="{{ education.delete_education }}">Eyða</button>