<div id="single_application" class="col-6 col-md-6 col-lg-4">

    <div id="logo_title_container">
        <img id="application_company_logo" src="{{ application.job.company.logo }}"  alt="Company logo"/>
        <h4 id="company_title">{{ application.job.company.title }}</h4>
    </div>

    <h5>{{ application.job.title }}</h5>
    <p>Sótt um: {{ application.applyDate }}</p>
    <p>Umsóknarfrestur: {{ application.job.dueDate }}</p>


    <div id="status_container">
        {% if application.status == "Pending" %}
            <h5 id="pending_heading">Umsókn í vinnslu</h5>
            <form class="form form-horizontal" action="/applicants/applications6/{{ application.job.id }}" method="POST">
                {% csrf_token %}
                <button type="submit" name="application_del" class="btn btn-danger">Eyða umsókn</button>
            </form>
        {% elif application.status == "Hired" %}
            <h5 id="hired_heading">Umsókn samþykkt {{ application.resultDate }}!</h5>
        {% elif application.status == "Rejected" %}
            <h5 id="rejected_heading">Umsókn hafnað {{ application.resultDate }}</h5>
        {% endif %}
    </div>


</div>
