{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<div class="container">

    <h2>JobHunters</h2>
    <p>Nýskráning Fyrirtækja</p>
    <h3>Fylltu inn upplýsingar um fyrirtækið</h3>
    <form class="form form-horizontal" method="post">
        {% csrf_token %}

       {% for field in form %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <div class="help-block">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}

        <input type="submit" class="btn btn-primary" value="Búa til aðgang">
    </form>
</div>
{% endblock %}