{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/company.css"%}">
    <div id="profile_title_button">
        <h1>Prófíll fyrir {{ company.title.capitalize }}</h1>
        <div id="change_profile_button">
        <a href="{% url 'ChangeCompanyProfile' %}">
            <button>Breyta prófíl</button>
        </a>
        </div>
    </div>
    
    
    <div id="company_detailed">
        <div id="company_title_add_desc">
            <h2>{{ company.title.capitalize }}</h2>
            <p>{{ company.address }}</p>
            <p>{{ company.description }}</p>
        </div>
        <div id="company_logo_cover">
            <img id="company_detailed_cover" src="{{ company.coverImage }}" alt="{{ company.coverImage }} cover image" />
            <img id="company_detailed_logo" src="{{ company.logo }}" alt="{{ company.title }} logo" />
        </div>

    </div>

    <p>Starfsauglýsingar ykkar:</p>
    <a href="{% url 'post-job' %}">
        <button>Búa til nýtt starf</button>
    </a>
    
    <div class="company_single_jobs">
            {% for job in jobs %}
                {% include 'company/company_single_job.html' with job=job company=company%}
            {% endfor %}
    </div>


    
{% endblock %}