{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <div>
        <h2>Innskráning</h2>
        <h4>Skráðu þig inn</h4>
        <form method="post" class="form form-horizontal">
            {% csrf_token %}
             {{ form.non_field_errors }}
    <div class="form-group">
        
        <label for="{{ form.username.id_for_label }}">Notendanafn:</label>
        {{ form.username }}
        {{ form.username.errors }}

    </div>
    <div class="form-group">
       
        <label for="{{ form.password.id_for_label }}">Lykilorð:</label>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
            <input type="submit" class="btn btn-primary" value="Skrá inn">
        </form>
    </div>
    <div id = "user_direct_to_signup">Ekki með reikning? Nýskrá <a href='signup'>Umsækjendur</a> / <a href='company_signup'>Fyrirtæki</a>
    </div>
{% endblock %}